html{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
* {
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--white);
  /* border: 5px solid red; */
}
a{
  text-decoration: none;
}
html {
  padding: 0;
  margin: 0;
}
body {
  background-color: #111111;
  
}
::selection{
  background-color: var(--mainColor);
}
:root {
  --mainColor: #82ff1f;
  --white: white;
  --grey: #f8f8f8;
  --black: #111111;
}
.container {
  /* width: 1170px; */
  margin: 0 auto;
  padding: 0 15px;
  
}
/* @media (min-width: 400px) {
  .container {
    width: 350px;
  } */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}
.header {
  padding: 10px;
  position: relative;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .head-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header .container ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .list{
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.header .container ul i{
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.header .container i:hover{
  font-size: 30px;
  cursor: pointer;
  color: var(--mainColor);

}
 @media (max-width:768px) {
  .header .container ul{
    display: none;
    transform: translateX(-200%);
    
    transition: 0.9s;
    position: absolute;
        
        height: 100vh;
        width: 100vw;
        z-index: 1000000000000000000000000000;
        background-color: #00ff0d67;
        top: -70px;
        left: -20px;
        margin: 50px auto;
        padding: 50px;
        backdrop-filter: blur(7px);
        
  }
  .header .container ul.active{
display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(0);
  }
.header .container ul.active li{
  margin: 30px 0;
  padding: 0px;
}
.header .container ul.active li a{
  margin: 70px 0;
  font-size: 30px;
}
.header .container .list{
  display: block;

}
.header .container ul.active i{
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 50px;
  padding: 20px;
}

}
  /* .header .container ul{
     position: absolute; 
  } */
.header .container ul li {
  margin: 0 15px;
}
.header .container ul li a {
  text-decoration: none;
  color: var(--white);
}
.header .container ul li a:hover {
  color: var(--mainColor);
}
.header .container .image img {
  width: 50px;
}
.header .container .ct {
  background: none;
  color: var(--white);
  font-size: 16px;
  border: 2px solid var(--white);
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.header .container .ct:hover {
  background-color: var(--mainColor);
  color: black;
  border-color: transparent;
}
.landing {
  height: 100vh;
  /* display: flex;
    align-items: center; */
  position: relative;
  padding: 0;
}
.landing .main-text {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
  margin-top: -270px;
}
.label {
  border: 2px solid var(--white);
  color: var(--white);
  /* display: inline; */
  width: fit-content;
  padding: 10px;
  border-radius: 30px;
  padding-left: 30px;
  position: relative;
}
.label::before {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 35%;
  background-color: var(--mainColor);
  animation: light 2s infinite alternate ;
  
}
@keyframes light{
  0% {
    box-shadow: 0 0 20px 0px var(--mainColor);
  }50%{
    box-shadow: 0 0 20px 2px var(--mainColor);
  }
  100%{
    box-shadow: 0 0 20px 4px var(--mainColor);
  }
}
.label:hover::before {
  background-color: var(--white);
}
.label:hover {
  background-color: var(--mainColor);
  color: black;
  border-color: transparent;
}
.landing .main-text h1 {
  color: var(--white);
  font-size: 100px;
  width: fit-content;
  text-align: center;
  margin: 0px;  
  /* text-shadow: 0px 3px #9dff4d , 0px 6px var(--mainColor); */
  

  line-height: 0.9;
}
@media (max-width: 768px) {
  .landing .main-text h1 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  
}
@media (min-width: 1200px) {
  
}
.landing .image {
  position: absolute;
  bottom: 0;

  left: 50%;
  transform: translateX(-50%);
  width: 430px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
}
@media (max-width:768px){
  .landing .image{
    max-width: 300px;
  }
}
.landing .image img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  /* filter: drop-shadow(3px 5px 0px  #7c4dff)  drop-shadow(3px 5px 0px var(--mainColor)); */
}
.landing .container .left-txt {
  max-width: 400px;
  position: absolute;
  left: 50px;
  bottom: 250px;
}
@media (max-width : 768px) {
  .landing .container .left-txt {
    bottom: 150px;
  }
}
.landing .container .left-txt p {
  font-size: 12px;
}
 .btn {
  background: var(--mainColor);
  color: black;
  font-size: 16px;
  border: none;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
  z-index: 150;
  position: relative;
}
 .btn:hover {
  background: #9dff4d;
}
.landing .overlay {
  width: 100%;
  height: 25%;
  background: linear-gradient(to top, #000, transparent);
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*Start work with me */

.workWithMe {
  background-color: var(--grey);
  position: relative;
  padding: 50px 20px;
}
.workWithMe .label {
  color: var(--black);
  border-color: var(--black);
  top: 0;
}
.workWithMe .label:hover {
  border-color: transparent;
}
.head {
    font-size: 50px;
}
.workWithMe .head {
  color: var(--black);
  
}
.beni-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.beni-boxes .box {
  color: var(--black);
  background-color: var(--white);
  border-radius: 15px;
  padding: 40px 20px;
  /* box-shadow: 2px 1px 135px -55px black; */
}
.beni-boxes .box:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.beni-boxes .box h2 {
  color: var(--black);
  font-size: 20px;
}
.beni-boxes .box p {
  color: var(--black);
  font-size: 13px;
}
.beni-boxes .box i {
  color: var(--mainColor);
  background-color: var(--black);
  padding: 10px;
  border-radius: 50%;
  font-size: 30px;
}
@media (max-width:768px) {
  .beni-boxes .box {
    /* max-width: 270px; */
  }
}

/*end work with me */
/*start projects */
.projects {
    position: relative;
    padding: 50px 20px ;
}
.projects .label {
margin-top: 50px;
}

.projects .projects-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.projects .projects-boxes .project-box {
border: 1px solid #666666;
border-radius: 20px;
padding-top: 20px;
}
.projects .projects-boxes .project-box .project-txt {
margin-bottom: 20px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
margin-right: 10px;
}
.projects .projects-boxes .project-box .project-img {
border-radius: 15px;
position: relative;
overflow: hidden;
}
.projects .projects-boxes .project-box .project-img img {
max-width: 100%;
border-radius: 20px;
/* display: inline-block;
overflow-clip-margin: content-box;
    overflow: clip; */
    height: 100%;
    
}
.projects .projects-boxes .project-box .project-img .project-name {
position: absolute;
top: 100%;
left: 50%;
transform: translate(-50%);
    font-size: 45px;
    z-index: 50;
    transition: 0.6s;
    color: var(--black);
}
.projects .projects-boxes .project-box .project-img .project-overlay {

    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top , var(--mainColor) , transparent);
}
.projects .projects-boxes .project-box .project-img:hover .project-overlay {

    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top , var(--mainColor) ,transparent);
}
.projects .projects-boxes .project-box .project-img:hover .project-name{
    top: 50%;
    transform: translate(-50%,-50%);
}
.projects .container .btn {
margin-top: 50px;
margin-bottom: 50px;
text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*end projects */
/*start Creative flow */
.creative {
    padding: 50px 20px 150px;
    background-color: var(--grey);
    position: relative;
}
.creative .sections .sec-1 .label {
color: var(--black);
border-color: var(--black);
}
.creative .sections .sec-1 .label:hover{
    border-color: transparent;
}
.creative .sections .sec-1 .head {
    color: var(--black);
    font-size: 60px;
}
@media (max-width : 768px) {
  .creative .sections .sec-1 .head {
     font-size: 30px;
     max-width: 300px;
  }
}
.creative .sections  {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));

}
@media (max-width : 768px){
  .creative .sections  {
    
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));

}
}
.creative .sections .sec-2 .sec-box   {
    border-bottom: 1px solid var(--black);

}
.creative .sections .sec-2 .sec-box h3  {
    color: var(--black);

}
.creative .sections .sec-2 .sec-box p  {
    color: var(--black);

}

/*end Creative flow */
/* start offers */
.offers{
    padding: 150px 40px;
}
.offers .head{
    max-width: 500px;
    font-size: 45px;
}
@media (max-width : 768px) {
  .offers .head {
     font-size: 30px;
     max-width: 300px;
  }
}
.offers .offers-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
    /* grid-template-rows: 550px; */

}
.offers .offers-boxes .offers-box {
    padding: 40px 20px;border-radius: 20px;
}
.offers .offers-boxes .offers-box ul{
    list-style: none;
    padding: 0;
}
.offers .offers-boxes .offers-box ul li{
    color: var(--black);
    margin-bottom: 10px;
    padding: 10px;
}
.offers .offers-boxes .offers-box ul li:not(:last-child){
    border-bottom: 1px solid var(--black);
}
.offers .offers-boxes .offers-box:nth-child(1) {
    background-color: var(--mainColor);
    
}
.offers .offers-boxes .offers-box i {
    font-size: 40px;
    color: var(--grey);
}
.offers .offers-boxes .offers-box .btn {
    background-color: #c3ff93;
}
.offers .offers-boxes .offers-box:nth-child(1) h3 {
    color: var(--black) ;
}
.offers .offers-boxes .offers-box:nth-child(1) p {
    color: var(--black) ;
}
.offers .offers-boxes .offers-box:nth-child(2) {
    background-color: #1a1a1a;
    
}
.offers .offers-boxes .offers-box:nth-child(3) {
    background-color: var(--grey);
    
}
.offers .offers-boxes .offers-box:nth-child(3) h3 {
    color: var(--black);
    
}
.offers .offers-boxes .offers-box:nth-child(3) p {
    color: var(--black);
    
}
.offers .offers-boxes .offers-box:nth-child(3) i {
    color: #1a1a1a;
    
}


.offers .offers-boxes .offers-box:nth-child(2) h3 {
    color: var(--white) ;
}
.offers .offers-boxes .offers-box:nth-child(2) p {
    color: var(--white) ;
}
.offers .offers-boxes .offers-box:nth-child(2) ul li{
    color: var(--white);
    
}
/* end offers */
/* start About */
.about {
    padding: 150px 50px;
    background-color: var(--grey);
}
.about .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 50px;
    align-items: center;
    
}
.about .container .head{
    color: var(--black);
}
@media (max-width : 768px) {
  .numbers  {
    padding:150px 15px;
    
  }
  .num-box {
    max-width: 250px;
  }
  .offers {
    padding:150px 15px;
  }

  .about , .projects{
    padding:150px  10px;
  }
  .about .container .head {
     font-size: 30px;
     max-width: 300px;
  }
  .about .container{
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  }
}
.about .container p{
    color: var(--black);
}
.about .container .icons{
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.about .container .icons a  {
    text-decoration: none;
    margin-right: 15px;
    border-radius: 50%;
    /* padding: 20px; */
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
    flex-direction: row;
}
.about .container .icons a:hover{
    background-color: #1a1a1a;
}
.about .container .label {
    margin-top: 50px;
    color: var(--black);
    border: 2px solid  var(--black);
}
.about .container .label:hover {
   
    border: 2px solid  transparent;
}

.about .container .myimg img {max-width: 100%; border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;}
/* end About */
/* start numbers  */
.numbers {
    padding: 70px 40px;
    background: linear-gradient(to top ,#c3ff93 , var(--mainColor) );
}
.numbers .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 45px;
}
.numbers .container h1 {
    color: var(--black);
    border-bottom: 1px solid var(--black);
}
.numbers .container h3 {
    color: var(--black);
   
}
.numbers .container p {
    color: var(--black);
    
}
/* end numbers  */
/* start reviews  */
.reviews {
    padding: 150px 40px;
    height: 100vh;
}
/* end reviews  */
/* start contact  */
.contact {
    background-color: #1a1a1a;
    padding: 150px 40px ;
}
.contact .container .contact-box {
    background-color: var(--black);
    margin: 20px auto;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.contact .container .contact-box h1 {
    font-size: 40px;
    max-width: 550px;
    text-align: center;
}
.contact .container .contact-box a {
    font-size: 30px;
    color: var(--mainColor);
    text-decoration:underline;
}
@media (max-width: 768px) {
  .contact .container .contact-box h1 {
    font-size: 15px;
    max-width: 300px;
  }.contact{
    padding: 70px 20px;
  }
  .contact .container .contact-box{
    padding: 20px;
  }
  .contact .container .label {
    font-size: 12px;
    border-radius: 50px;
  }
}


/* end contact  */

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 160px;
}
.btn i {
  font-size: 20px ;
  color: var(--black);
  animation: upAnddown 0.6s infinite alternate;
  z-index: 500000000000000000000000000000000;
}
@keyframes upAnddown {
  0%{
    transform: translateY(0);
  }100%{
    transform: translateY(5px);
  }
}
